Repository bbobbi-ne/appabbang, pull requests merged in 2025-07, with the labels that each got.

#67 Feature/63 페이지 기본 레이아웃 및 UI 틀 만들기
  apps/admin/index.html
  apps/admin/src/components/Sidebar.tsx
  apps/admin/src/components/bread-create-dialog.tsx
  apps/admin/src/components/bread-form.tsx
  apps/admin/src/components/bread-modify-dialog.tsx
  apps/admin/src/components/material-create-dialog.tsx
  apps/admin/src/components/material-form.tsx
  apps/admin/src/components/order-dialog.tsx
  apps/admin/src/components/table-skeletion.tsx
  apps/admin/src/components/theme-toggle-btn.tsx
  apps/admin/src/data/columns.tsx
  apps/admin/src/hooks/use-breads.ts
  apps/admin/src/hooks/use-material.ts
  apps/admin/src/hooks/use-order.ts
  apps/admin/src/routeTree.gen.ts
  apps/admin/src/routes/__root.tsx
  apps/admin/src/routes/_dashboardLayout/dashboard/customers/index.tsx
  apps/admin/src/routes/_dashboardLayout/dashboard/index.tsx
  apps/admin/src/routes/_dashboardLayout/dashboard/ingredients/index.tsx
  apps/admin/src/routes/_dashboardLayout/dashboard/orders/index.tsx
  apps/admin/src/routes/_dashboardLayout/dashboard/purchases/index.tsx
  apps/admin/src/routes/dashboard.tsx
  apps/admin/src/routes/dashboard/breads/index.tsx
  apps/admin/src/routes/dashboard/customers/index.tsx
  apps/admin/src/routes/dashboard/index.tsx
  apps/admin/src/routes/dashboard/materials/index.tsx
  apps/admin/src/routes/dashboard/orders/index.tsx
  apps/admin/src/routes/dashboard/purchases/index.tsx
  apps/admin/src/routes/index.tsx
  apps/admin/src/service/auth-api.ts
  apps/admin/src/service/bread-api.ts
  apps/admin/src/service/common-api.ts
  apps/admin/src/service/common.ts
  apps/admin/src/service/instance.ts
  apps/admin/src/service/material-api.ts
  apps/admin/src/service/order-api.ts
  apps/admin/src/service/purchase-api.ts
  apps/admin/src/stores/themeStore.ts
  apps/admin/src/utils/format.ts
  packages/ui/src/components/ui/button.tsx
  packages/ui/src/components/ui/sonner.tsx
  pnpm-lock.yaml
  tools/tailwind/style.css
Labels: ✨ feature, 🔧 fix, ADMIN

#66 Feature/34 :: 주문서 작업 중간 PR
  apps/web/package.json
  apps/web/src/components/BreadCard.tsx
  apps/web/src/components/Header.tsx
  apps/web/src/components/OrderCheckList.tsx
  apps/web/src/components/OrderSkeleton.tsx
  apps/web/src/components/RequiredBar.tsx
  apps/web/src/interface/BreadInterface.ts
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/index.tsx
  apps/web/src/routes/order/form.tsx
  apps/web/src/services/apis.tsx
  apps/web/src/styles.css
Labels: ✨ feature, WEB

#71 Feature/34 주문서 작업 재PR
  apps/web/src/components/BreadSearch.tsx
  apps/web/src/components/CardComment.tsx
  apps/web/src/components/OrderFormSkeleton.tsx
  apps/web/src/components/OrderSkeleton.tsx
  apps/web/src/components/PageTitle.tsx
  apps/web/src/components/Payment.tsx
  apps/web/src/interface/BreadInterface.ts
  apps/web/src/main.tsx
  apps/web/src/routes/order/form.tsx
Labels: ✨ feature, WEB

#72 feature/34 :: import 구문 수정
  apps/web/src/components/Payment.tsx
  apps/web/src/routes/order/form.tsx
Labels: ✨ feature, WEB

#78 [Server] 주문서 관련 API 작성 포함 외 변경
  apps/server/package.json
  apps/server/prisma/schema.prisma
  apps/server/prisma/seed.ts
  apps/server/src/controllers/address.controller.ts
  apps/server/src/controllers/auth.controller.ts
  apps/server/src/controllers/bread.controller.ts
  apps/server/src/controllers/common-code.controller.ts
  apps/server/src/controllers/common-image.controller.ts
  apps/server/src/controllers/customer.controller.ts
  apps/server/src/controllers/delivery-method.controller.ts
  apps/server/src/controllers/order.controller.ts
  apps/server/src/docs/swagger.ts
  apps/server/src/docs/swagger.yaml
  apps/server/src/index.ts
  apps/server/src/middlewares/auth.middleware.ts
  apps/server/src/middlewares/validators/validate.ts
  apps/server/src/routes/address.route.ts
  apps/server/src/routes/auth.route.ts
  apps/server/src/routes/bread.route.ts
  apps/server/src/routes/breads.route.ts
  apps/server/src/routes/common-code.route.ts
  apps/server/src/routes/common-image.route.ts
  apps/server/src/routes/common-images.route.ts
  apps/server/src/routes/customer.route.ts
  apps/server/src/routes/delivery-method.route.ts
  apps/server/src/routes/delivery-methods.route.ts
  apps/server/src/routes/order.route.ts
  apps/server/src/routes/sample.route.ts
  apps/server/src/services/address.service.ts
  apps/server/src/services/auth.service.ts
  apps/server/src/services/bread.service.ts
  apps/server/src/services/common-code.service.ts
  apps/server/src/services/customer.service.ts
  apps/server/src/services/delivery-method.service.ts
  apps/server/src/services/order.service.ts
  apps/server/src/services/user.service.ts
  apps/server/src/types/client-payload.ts
  apps/server/src/types/express/index.d.ts
  apps/server/tsconfig.json
  pnpm-lock.yaml
Labels: ✨ feature, SERVER

#69 Feature/68 daum-postcode 프로젝트에 추가 및 테스트하기 및 swagger-typescript-api를 통한 swagger 타입 생성 및 커스텀 코드 추가
  apps/admin/package.json
  apps/admin/src/api/Address.ts
  apps/admin/src/api/Auth.ts
  apps/admin/src/api/Breads.ts
  apps/admin/src/api/CommonCode.ts
  apps/admin/src/api/CommonImages.ts
  apps/admin/src/api/DeliveryMethods.ts
  apps/admin/src/api/Orders.ts
  apps/admin/src/api/Sample.ts
  apps/admin/src/api/data-contracts.ts
  apps/admin/src/api/http-client.ts
  apps/admin/src/components/Image-upload-field.tsx
  apps/admin/src/components/address-button.tsx
  apps/admin/src/components/bread-create-dialog.tsx
  apps/admin/src/components/bread-form.tsx
  apps/admin/src/components/bread-modify-dialog.tsx
  apps/admin/src/components/order-dialog.tsx
  apps/admin/src/data/columns.tsx
  apps/admin/src/hooks/use-breads.ts
  apps/admin/src/hooks/use-initialize-auth.ts
  apps/admin/src/hooks/use-material.ts
  apps/admin/src/hooks/use-order.ts
  apps/admin/src/integrations/tanstack-query/layout.tsx
  apps/admin/src/integrations/tanstack-query/root-provider.tsx
  apps/admin/src/routes/dashboard.tsx
  apps/admin/src/routes/dashboard/breads/index.tsx
  apps/admin/src/routes/dashboard/index.tsx
  apps/admin/src/routes/index.tsx
  apps/admin/src/service/auth-api.ts
  apps/admin/src/service/bread-api.ts
  apps/admin/src/service/common-api.ts
  apps/admin/src/service/instance.ts
  apps/admin/src/stores/authStore.ts
  apps/admin/src/stores/themeStore.ts
  apps/web/src/routeTree.gen.ts
  pnpm-lock.yaml
Labels: ✨ feature, ADMIN

#118 [Server] ~250716 요청사항 수정 반영
  apps/server/package.json
  apps/server/prisma/seed.ts
  apps/server/src/middlewares/auth.middleware.ts
  apps/server/src/middlewares/validators/validate.ts
  apps/server/src/routes/bread.route.ts
  apps/server/src/services/bread.service.ts
Labels: 🔧 fix, SERVER

#116 Fix/87 swagger-typescript-api 타입및 Axios 함수 생성시 런타임 오류 수정
  apps/admin/package.json
  apps/admin/src/api/Address.ts
  apps/admin/src/api/Auth.ts
  apps/admin/src/api/Breads.ts
  apps/admin/src/api/CommonCode.ts
  apps/admin/src/api/CommonImages.ts
  apps/admin/src/api/Customers.ts
  apps/admin/src/api/DeliveryMethods.ts
  apps/admin/src/api/Orders.ts
  apps/admin/src/api/Sample.ts
  apps/admin/src/api/data-contracts.ts
  apps/admin/src/api/http-client.ts
  apps/admin/src/api/swagger-templates/api.ejs
  apps/admin/src/api/swagger-templates/data-contract-jsdoc.ejs
  apps/admin/src/api/swagger-templates/data-contracts.ejs
  apps/admin/src/api/swagger-templates/enum-data-contract.ejs
  apps/admin/src/api/swagger-templates/http-client.ejs
  apps/admin/src/api/swagger-templates/interface-data-contract.ejs
  apps/admin/src/api/swagger-templates/object-field-jsdoc.ejs
  apps/admin/src/api/swagger-templates/procedure-call.ejs
  apps/admin/src/api/swagger-templates/route-docs.ejs
  apps/admin/src/api/swagger-templates/route-name.ejs
  apps/admin/src/api/swagger-templates/route-type.ejs
  apps/admin/src/api/swagger-templates/route-types.ejs
  apps/admin/src/api/swagger-templates/type-data-contract.ejs
  apps/admin/src/components/loading.tsx
  apps/admin/src/components/theme-toggle-btn.tsx
  apps/admin/src/hooks/use-initialize-auth.ts
  apps/admin/src/routes/__root.tsx
  apps/admin/src/routes/dashboard/index.tsx
  apps/admin/src/routes/index.tsx
  apps/admin/src/service/auth-api.ts
  apps/admin/src/service/bread-api.ts
  apps/admin/src/service/common-api.ts
  apps/admin/src/service/instance.ts
  apps/admin/src/stores/auth-store.ts
  apps/admin/src/stores/loading-store.ts
  apps/admin/src/stores/theme-store.ts
  pnpm-lock.yaml
Labels: ⚙️ setting, ADMIN, COMMON

#122 Fix/87 어드민 스크립트 수정 (Window에서 인식하지못함)
  apps/admin/package.json
Labels: ⚙️ setting, ADMIN

#132 [Web] 마이페이지 개발 WEB 웹 #130
  apps/web/public/images/appabbang_logo.png
  apps/web/src/components/Header.tsx
  apps/web/src/components/common/header.tsx
  apps/web/src/components/delete__layout-sidebar.tsx
  apps/web/src/components/mypage/customer-info-card.tsx
  apps/web/src/components/mypage/menu-button.tsx
  apps/web/src/main.tsx
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/__root.tsx
  apps/web/src/routes/join/index.tsx
  apps/web/src/routes/logout/index.tsx
  apps/web/src/routes/mypage/edit/index.tsx
Labels: ✨ feature, WEB

#136 [Web] Typescript - Swagger 연동
  apps/web/package.json
  apps/web/src/api/Auth.ts
  apps/web/src/api/Breads.ts
  apps/web/src/api/CommonCode.ts
  apps/web/src/api/CommonImages.ts
  apps/web/src/api/Customers.ts
  apps/web/src/api/DeliveryMethods.ts
  apps/web/src/api/Orders.ts
  apps/web/src/api/Payments.ts
  apps/web/src/api/data-contracts.ts
  apps/web/src/api/http-client.ts
  apps/web/src/api/swagger-templates/api.ejs
  apps/web/src/api/swagger-templates/data-contract-jsdoc.ejs
  apps/web/src/api/swagger-templates/data-contracts.ejs
  apps/web/src/api/swagger-templates/enum-data-contract.ejs
  apps/web/src/api/swagger-templates/http-client.ejs
  apps/web/src/api/swagger-templates/interface-data-contract.ejs
  apps/web/src/api/swagger-templates/object-field-jsdoc.ejs
  apps/web/src/api/swagger-templates/procedure-call.ejs
  apps/web/src/api/swagger-templates/route-docs.ejs
  apps/web/src/api/swagger-templates/route-name.ejs
  apps/web/src/api/swagger-templates/route-type.ejs
  apps/web/src/api/swagger-templates/route-types.ejs
  apps/web/src/api/swagger-templates/type-data-contract.ejs
  pnpm-lock.yaml
Labels: ⚙️ setting, WEB

#140 Feature/62 [Admin] 주문관리 UI 구현 및 API연결
  apps/admin/package.json
  apps/admin/src/components/breads/Image-upload-field.tsx
  apps/admin/src/components/breads/bread-create-dialog.tsx
  apps/admin/src/components/breads/bread-form.tsx
  apps/admin/src/components/breads/bread-modify-dialog.tsx
  apps/admin/src/components/materials/material-create-dialog.tsx
  apps/admin/src/components/materials/material-form.tsx
  apps/admin/src/components/order-dialog.tsx
  apps/admin/src/components/orders/order-dialog.tsx
  apps/admin/src/components/orders/order-form.tsx
  apps/admin/src/components/orders/order-table.tsx
  apps/admin/src/components/ui/address-button.tsx
  apps/admin/src/components/ui/loading.tsx
  apps/admin/src/components/ui/sidebar.tsx
  apps/admin/src/components/ui/table-pagination.tsx
  apps/admin/src/components/ui/table-skeletion.tsx
  apps/admin/src/components/ui/theme-toggle-btn.tsx
  apps/admin/src/data/columns.tsx
  apps/admin/src/hooks/use-order.ts
  apps/admin/src/routes/__root.tsx
  apps/admin/src/routes/dashboard.tsx
  apps/admin/src/routes/dashboard/breads/index.tsx
  apps/admin/src/routes/dashboard/customers/index.tsx
  apps/admin/src/routes/dashboard/materials/index.tsx
  apps/admin/src/routes/dashboard/orders/index.tsx
  apps/admin/src/routes/dashboard/purchases/index.tsx
  apps/admin/src/routes/index.tsx
  apps/admin/src/service/instance.ts
  apps/admin/src/service/order-api.ts
  apps/admin/src/utils/format.ts
  packages/ui/index.ts
  packages/ui/package.json
  packages/ui/src/components/ui/scroll-area.tsx
  pnpm-lock.yaml
Labels: ADMIN
