Repository bbobbi-ne/appabbang, pull requests merged in 2025-08, with the labels that each got.

#149 [Server] 정적라우팅 수정, 스웨거 수정 #148
  apps/server/src/docs/swagger.yaml
  apps/server/src/routes/order-round.route.ts
  apps/server/src/services/order-round.service.ts
Labels: ✨ feature, SERVER

#150 [Web] 메인 페이지 #147
  apps/web/package.json
  apps/web/src/components/home/infomation-content.tsx
  apps/web/src/components/home/order-content.tsx
  apps/web/src/components/pages/main-page.tsx
  apps/web/src/hooks/useCountDownTimer.tsx
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/_sub-page/order/$orderRoundNo.tsx
  apps/web/src/services/apis.tsx
Labels: ✨ feature, WEB

#144 Feature/139 [Web] 내 배송지 목록조회, 등록, 수정 모달 및 UI 컴포넌트 추가
  apps/admin/src/api/CommonCode.ts
  apps/admin/src/api/Orders.ts
  apps/admin/src/api/Payments.ts
  apps/admin/src/api/data-contracts.ts
  apps/web/src/components/daum-post-api.tsx
  apps/web/src/components/mypage/address-create-dialog.tsx
  apps/web/src/components/mypage/address-form.tsx
  apps/web/src/components/mypage/address-modify-dialog.tsx
  apps/web/src/components/non-customer-order-form.tsx
  apps/web/src/components/pages/address-page.tsx
  apps/web/src/utils/index.ts
  packages/ui/index.ts
  packages/ui/src/components/badge.tsx
Labels: ✨ feature, WEB, COMMON

#153 Feature/143 [Server] Bread 및 Order 기획안에 맞춰 일부수정
  apps/admin/src/components/breads/bread-form.tsx
  apps/admin/src/components/breads/bread-modify-dialog.tsx
  apps/admin/src/components/orders/order-dialog.tsx
  apps/admin/src/components/orders/order-form.tsx
  apps/admin/src/components/orders/order-table.tsx
  apps/admin/src/data/columns.tsx
  apps/admin/src/hooks/use-order.ts
  apps/admin/src/routes/dashboard/breads/index.tsx
  apps/admin/src/service/instance.ts
  apps/admin/src/service/order-api.ts
  apps/server/prisma/schema.prisma
  apps/server/prisma/seed.ts
  apps/server/src/controllers/bread.controller.ts
  apps/server/src/docs/swagger.yaml
  apps/server/src/middlewares/validators/validate.ts
  apps/server/src/services/bread.service.ts
  apps/server/src/services/order.service.ts
Labels: ADMIN, SERVER

#157 [Web][Server] 주문서 기능 개선 #131
  apps/server/prisma/schema.prisma
  apps/server/prisma/seed.ts
  apps/server/src/services/bread.service.ts
  apps/server/src/services/order-round.service.ts
  apps/web/public/images/no_image.jpg
  apps/web/src/components/bread-card.tsx
  apps/web/src/components/guest-privacy-agreement.tsx
  apps/web/src/components/home/order-content.tsx
  apps/web/src/components/pages/order-page.tsx
  apps/web/src/interface/bread-interface.ts
Labels: ✨ feature, WEB, SERVER

#159 feat(server): 빵 model 수정, 빵 조회 API 컬럼 수정 #131
  apps/server/prisma/schema.prisma
  apps/server/src/services/bread.service.ts
Labels: ✨ feature, SERVER

#162 [Web] 메인페이지의 로딩 구현 #161
  apps/web/public/images/instagram.png
  apps/web/public/images/present.jpg
  apps/web/public/images/sogumbbang.jpg
  apps/web/public/images/ssalbbang.jpeg
  apps/web/src/components/home/ loading.tsx
  apps/web/src/components/home/order-content.tsx
  apps/web/src/components/pages/brand-page.tsx
  apps/web/src/components/pages/main-page.tsx
  apps/web/src/components/templates/sub-layout.tsx
  apps/web/src/routes/_sub-page/brand.tsx
Labels: ✨ feature, WEB

#164 [Server] 주문차수 등록/수정 개선사항 #163
  apps/server/src/controllers/order-round.controller.ts
  apps/server/src/services/bread.service.ts
Labels: ✨ feature, SERVER

#167 feat(web): 회원가입 ui 작성 (기능 연동전) #166
  apps/web/src/components/join-form.tsx
  apps/web/src/components/pages/join-page.tsx
  apps/web/src/routes/join.tsx
  pnpm-lock.yaml
Labels: ✨ feature, WEB

#168 [Web] [Server] 제품페이지 #165
  apps/server/src/controllers/order-round.controller.ts
  apps/server/src/docs/swagger.yaml
  apps/server/src/routes/order-round.route.ts
  apps/server/src/services/bread.service.ts
  apps/server/src/services/order-round.service.ts
  apps/web/src/components/pages/products-page.tsx
  apps/web/src/components/projects/bread-card-detail.tsx
  apps/web/src/components/projects/bread-search.tsx
  apps/web/src/components/projects/products-bread-card.tsx
  apps/web/src/components/projects/products-loading.tsx
  apps/web/src/interface/bread-interface.ts
  apps/web/src/services/apis.tsx
Labels: ✨ feature, WEB, SERVER

#173 feat(server) : 주문차수 재수정 #170
  apps/server/prisma/schema.prisma
  apps/server/prisma/seed.ts
  apps/server/src/docs/swagger.yaml
  apps/server/src/services/order-round.service.ts
Labels: ✨ feature, SERVER

#184 [Web] 내정보수정 - 비밀번호 수정 페이지, form, validate 구현 #183
  apps/web/src/components/mypage/password-modify-form.tsx
  apps/web/src/components/pages/password-page.tsx
  apps/web/src/validate/form-schema.ts
Labels: ✨ feature, WEB

#189 [Web] 내 정보수정 - 주문내역 (3) #185
  apps/web/public/images/malcha.png
  apps/web/public/images/smail_sinker.png
  apps/web/src/components/faq/faq-accordion.tsx
  apps/web/src/components/mypage/menu-button.tsx
  apps/web/src/components/mypage/meta-data.ts
  apps/web/src/components/mypage/order-cancel-dialog.tsx
  apps/web/src/components/mypage/order-item.tsx
  apps/web/src/components/mypage/password-modify-form.tsx
  apps/web/src/components/pages/order-detail-page.tsx
  apps/web/src/components/pages/order-list-page.tsx
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/_sub-page/mypage/order-list/$orderNo.tsx
  apps/web/src/routes/_sub-page/mypage/order-list/index.tsx
  apps/web/src/validate/form-schema.ts
Labels: ✨ feature, WEB

#191 Feature/188 ERD 에 따라 DB 개편
  apps/server/prisma/schema.prisma
  apps/server/prisma/seed.ts
  apps/server/src/controllers/customer.controller.ts
  apps/server/src/controllers/delivery-method.controller.ts
  apps/server/src/controllers/order.controller.ts
  apps/server/src/services/bread.service.ts
  apps/server/src/services/customer.service.ts
  apps/server/src/services/delivery-method.service.ts
  apps/server/src/services/order.service.ts
Labels: 🔧 fix, ♻️ refactoring, ⚙️ setting, SERVER

#192 feat(web) : 배송현황 페이지 #190
  apps/web/package.json
  apps/web/src/components/pages/order-delivery-page.tsx
  apps/web/src/components/pages/order-detail-page.tsx
  apps/web/src/routeTree.gen.ts
  apps/web/src/routes/_sub-page/mypage/order-delivery/$orderNo.tsx
Labels: ✨ feature, WEB

#193 Feature/187 결제페이지 및 고객페이지 생성
  apps/admin/src/api/data-contracts.ts
  apps/admin/src/components/payments/refund-dialog.tsx
  apps/admin/src/components/payments/refund-table.tsx
  apps/admin/src/components/ui/sidebar.tsx
  apps/admin/src/data/columns.tsx
  apps/admin/src/hooks/use-common-code.ts
  apps/admin/src/hooks/use-customer.ts
  apps/admin/src/hooks/use-order.ts
  apps/admin/src/hooks/use-payment.ts
  apps/admin/src/routeTree.gen.ts
  apps/admin/src/routes/dashboard/customers/index.tsx
  apps/admin/src/routes/dashboard/payment/index.tsx
  apps/admin/src/service/common-api.ts
  apps/admin/src/service/customer-api.ts
  apps/admin/src/service/order-api.ts
  apps/admin/src/service/payment.ts
  apps/admin/src/utils/format.ts
  apps/server/src/controllers/payment.controller.ts
  apps/server/src/docs/swagger.yaml
  apps/server/src/services/payment.service.ts
Labels: ADMIN, SERVER

#195 [Web][Server] 주문서 개선
  apps/server/prisma/schema.prisma
  apps/server/prisma/seed.ts
  apps/server/src/controllers/order-round.controller.ts
  apps/server/src/docs/swagger.yaml
  apps/server/src/middlewares/validators/validate.ts
  apps/server/src/services/order-round.service.ts
  apps/web/src/components/common/header.tsx
  apps/web/src/components/mypage/info-form.tsx
  apps/web/src/components/mypage/order-cancel-dialog.tsx
  apps/web/src/components/order/Payment.tsx
  apps/web/src/components/order/non-customer-order-form.tsx
  apps/web/src/components/pages/order-page.tsx
  apps/web/src/components/pages/password-page.tsx
  apps/web/src/interface/bread-interface.ts
  apps/web/src/validate/customer-form-schema.ts
  apps/web/src/validate/order-cancel-form-schema.ts
  apps/web/src/validate/order-form-schema.ts
  apps/web/src/validate/password-modify-form-schema.ts
Labels: ✨ feature, WEB

#198 Feature/197 [Server] order api 개편 및 bread api 리팩토링
  apps/server/prisma/schema.prisma
  apps/server/src/controllers/bread.controller.ts
  apps/server/src/controllers/order.controller.ts
  apps/server/src/controllers/payment.controller.ts
  apps/server/src/docs/swagger.yaml
  apps/server/src/lib/util.ts
  apps/server/src/middlewares/validators/validate.ts
  apps/server/src/routes/bread.route.ts
  apps/server/src/services/bread.service.ts
  apps/server/src/services/order.service.ts
Labels: ✨ feature, 🔧 fix, ♻️ refactoring, SERVER

#200 Feature/199 [Web] axios 인스턴스 및 서비스/훅 생성 (breads, my(address), orders)
  apps/web/src/api/Auth.ts
  apps/web/src/api/Breads.ts
  apps/web/src/api/My.ts
  apps/web/src/api/OrderRound.ts
  apps/web/src/api/Orders.ts
  apps/web/src/api/data-contracts.ts
  apps/web/src/hooks/use-breads.tsx
  apps/web/src/hooks/use-my.tsx
  apps/web/src/hooks/use-orders.tsx
  apps/web/src/services/api/breads-service.ts
  apps/web/src/services/api/my-service.ts
  apps/web/src/services/api/orders-service.ts
  apps/web/src/services/axios.ts
  pnpm-lock.yaml
Labels: ✨ feature, WEB

#201 [Web][Server] 회원가입 #196
  apps/server/prisma/schema.prisma
  apps/server/prisma/seed.ts
  apps/server/src/controllers/customer.controller.ts
  apps/server/src/middlewares/validators/customer-token-validate.ts
  apps/server/src/middlewares/validators/customer-validate.ts
  apps/server/src/routes/customer.route.ts
  apps/server/src/services/customer.service.ts
  apps/web/package.json
  apps/web/src/components/common/header.tsx
  apps/web/src/components/join/join-form.tsx
  apps/web/src/components/join/maketting-terms-agreed-dialog.tsx
  apps/web/src/components/join/privacy-terms-agreed-dialog.tsx
  apps/web/src/components/join/service-terms-agreed-dialog.tsx
  apps/web/src/components/mypage/order-cancel-dialog.tsx
  apps/web/src/components/order/guest-privacy-agreement.tsx
  apps/web/src/components/pages/join-page.tsx
  apps/web/src/components/pages/logout-page.tsx
  apps/web/src/routes/callback.kakao.tsx
  apps/web/src/routes/join.tsx
  apps/web/src/routes/login.tsx
  apps/web/src/routes/logout.tsx
  apps/web/src/services/customer-apis.ts
  apps/web/src/store/session.ts
  apps/web/src/validate/join-form-schema.ts
  apps/web/src/validate/password-modify-form-schema.ts
  pnpm-lock.yaml
Labels: ✨ feature, WEB, SERVER

#204 [Web][Server] 로그인 #203
  apps/server/src/controllers/customer.controller.ts
  apps/server/src/middlewares/validators/customer-token-validate.ts
  apps/server/src/middlewares/validators/customer-validate.ts
  apps/server/src/routes/auth.route.ts
  apps/server/src/routes/customer.route.ts
  apps/server/src/services/customer.service.ts
  apps/web/src/components/common/header.tsx
  apps/web/src/components/common/loading.tsx
  apps/web/src/components/home/loading.tsx
  apps/web/src/components/login/kakao-login-button.tsx
  apps/web/src/components/login/login-form.tsx
  apps/web/src/components/pages/login-page.tsx
  apps/web/src/components/pages/main-page.tsx
  apps/web/src/routes/login.tsx
  apps/web/src/services/customer-apis.ts
  apps/web/src/validate/login-form-schema.ts
Labels: ✨ feature, WEB, SERVER

#207 Feature/202 쿠폰관리, 쿠폰발급 UI 및 API 작성
  apps/admin/src/api/Coupons.ts
  apps/admin/src/api/data-contracts.ts
  apps/admin/src/components/coupons/coupon-create-dialog.tsx
  apps/admin/src/components/coupons/coupon-detail-page.tsx
  apps/admin/src/components/coupons/coupon-form.tsx
  apps/admin/src/components/coupons/coupon-modify-dialog.tsx
  apps/admin/src/components/coupons/coupons-page.tsx
  apps/admin/src/data/columns.tsx
  apps/admin/src/hooks/use-coupon.ts
  apps/admin/src/routeTree.gen.ts
  apps/admin/src/routes/dashboard/coupons/$no.tsx
  apps/admin/src/routes/dashboard/coupons/index.tsx
  apps/admin/src/service/coupon-api.ts
  apps/server/src/controllers/bread.controller.ts
  apps/server/src/controllers/coupon.controller.ts
  apps/server/src/controllers/order.controller.ts
  apps/server/src/docs/swagger.yaml
  apps/server/src/index.ts
  apps/server/src/middlewares/validators/validate.ts
  apps/server/src/routes/coupon.route.ts
  apps/server/src/services/coupon.service.ts
Labels: ✨ feature, ADMIN, SERVER

#211 feat(server) : 주문차수 API, 스웨거 문서 재수정 #206
  apps/server/src/controllers/order-round.controller.ts
  apps/server/src/docs/swagger.yaml
  apps/server/src/middlewares/validators/order-round.validate.ts
  apps/server/src/middlewares/validators/validate.ts
  apps/server/src/routes/order-round.route.ts
  apps/server/src/services/order-round.service.ts
Labels: ✨ feature, SERVER

#218 Feature/213 [Server] 로그아웃, 고객생성, 내정보조회, 내정보수정, 비밀번호변경 코드 정리
  apps/server/src/controllers/auth.controller.ts
  apps/server/src/controllers/customer.controller.ts
  apps/server/src/controllers/my.controller.ts
  apps/server/src/docs/swagger.yaml
  apps/server/src/middlewares/auth.middleware.ts
  apps/server/src/routes/auth.route.ts
  apps/server/src/routes/customer.route.ts
  apps/server/src/routes/my.route.ts
  apps/server/src/services/auth.service.ts
  apps/server/src/services/customer.service.ts
  apps/server/src/services/my.service.ts
  apps/server/src/services/user.service.ts
Labels: ♻️ refactoring, SERVER

#217 [Web]배송지 변경 페이지 개선
  apps/server/src/controllers/order-round.controller.ts
  apps/server/src/services/order-round.service.ts
  apps/web/src/components/mypage/address-create-dialog.tsx
  apps/web/src/components/mypage/address-form.tsx
  apps/web/src/components/mypage/address-modify-dialog.tsx
  apps/web/src/components/mypage/customer-info-card.tsx
  apps/web/src/components/pages/address-page.tsx
  apps/web/src/components/pages/info-page.tsx
  apps/web/src/routes/_sub-page/mypage/address/index.tsx
  apps/web/src/routes/_sub-page/mypage/info/index.tsx
  apps/web/src/routes/_sub-page/mypage/password/index.tsx
  apps/web/src/services/api/my-service.ts
  apps/web/src/services/axios.ts
  apps/web/src/services/common-apis.ts
  apps/web/src/services/customer-apis.ts
Labels: ✨ feature, WEB

#224 Feature/223 메인화면 디자인
  apps/web/package.json
  apps/web/public/images/main-order-round-sample.png
  apps/web/src/components/home/infomation-content.tsx
  apps/web/src/components/home/instagram-content.tsx
  apps/web/src/components/home/order-content.tsx
  apps/web/src/components/home/sell-popular-products-content.tsx
  apps/web/src/utils/index.ts
  pnpm-lock.yaml
Labels: ✨ feature, WEB

#228 Feature/214 어드민 리펙토링(테이블정렬및 검색, 다이어로그 및 테이블 container로 일괄관리)
  apps/admin/src/api/data-contracts.ts
  apps/admin/src/components/breads/bread-create-dialog.tsx
  apps/admin/src/components/coupons/coupon-create-dialog.tsx
  apps/admin/src/components/coupons/coupon-form.tsx
  apps/admin/src/components/coupons/coupon-modify-dialog.tsx
  apps/admin/src/components/coupons/coupons-page.tsx
  apps/admin/src/components/order-round/image-upload.tsx
  apps/admin/src/components/order-round/order-round-create-dialog.tsx
  apps/admin/src/components/order-round/order-round-form.tsx
  apps/admin/src/components/order-round/order-round-modify-dialog.tsx
  apps/admin/src/components/payments/refund-dialog.tsx
  apps/admin/src/components/ui/dialog-layout.tsx
  apps/admin/src/components/ui/rebder-sort-button.tsx
  apps/admin/src/components/ui/sidebar.tsx
  apps/admin/src/components/ui/table-container.tsx
  apps/admin/src/components/ui/table-search-bar.tsx
  apps/admin/src/data/columns.tsx
  apps/admin/src/data/columns/bread-columns.tsx
  apps/admin/src/data/columns/coupons-columns.tsx
  apps/admin/src/data/columns/order-rounds-columns.tsx
  apps/admin/src/data/columns/orders-columns.tsx
  apps/admin/src/data/columns/payments-columns.tsx
  apps/admin/src/hooks/use-order-round.ts
  apps/admin/src/hooks/use-order.ts
  apps/admin/src/hooks/use-payment.ts
  apps/admin/src/routes/dashboard/breads/index.tsx
  apps/admin/src/routes/dashboard/coupons/$no.tsx
  apps/admin/src/routes/dashboard/coupons/index.tsx
  apps/admin/src/routes/dashboard/orderRound/index.tsx
  apps/admin/src/routes/dashboard/orders/index.tsx
  apps/admin/src/routes/dashboard/payment/index.tsx
  apps/admin/src/service/payment.ts
  apps/admin/src/utils/debounce.ts
  apps/admin/src/utils/format.ts
  apps/server/prisma/schema.prisma
  apps/server/src/controllers/order.controller.ts
  apps/server/src/controllers/payment.controller.ts
  apps/server/src/docs/swagger.yaml
  apps/server/src/middlewares/validators/order-round.validate.ts
  apps/server/src/services/bread.service.ts
  apps/server/src/services/image.service.ts
  apps/server/src/services/order-round.service.ts
  apps/server/src/services/order.service.ts
Labels: ♻️ refactoring, ADMIN, SERVER

#234 feat(web) : 회원가입 전체동의 체크박스 생성 #233
  apps/web/src/components/join/join-form.tsx
  apps/web/src/validate/join-form-schema.ts
Labels: ✨ feature, WEB

#243 feat(web) : 아이디 찾기, 비밀번호 찾기 #232
  apps/server/src/controllers/customer.controller.ts
  apps/server/src/docs/swagger.yaml
  apps/server/src/lib/send-email-code.ts
  apps/server/src/lib/send-email.ts
  apps/server/src/middlewares/validators/auth-validate.ts
  apps/server/src/routes/customer.route.ts
  apps/server/src/services/auth.service.ts
  apps/server/src/services/customer.service.ts
  apps/web/src/components/join/join-form.tsx
  apps/web/src/components/login/find-id-dialog.tsx
  apps/web/src/components/login/find-pw-dialog.tsx
  apps/web/src/components/login/login-form.tsx
  apps/web/src/services/customer-apis.ts
  apps/web/src/validate/find-id-form-schema.ts
  apps/web/src/validate/find-pw-form-schema.ts
  apps/web/src/validate/join-form-schema.ts
Labels: ✨ feature, WEB, SERVER

#250 [Web, Server] 회원가입 swagger api에 따른 type 재설정 / hook, service 반영
  apps/server/src/docs/swagger.yaml
  apps/web/src/api/Customers.ts
  apps/web/src/api/data-contracts.ts
  apps/web/src/components/join/join-form.tsx
  apps/web/src/hooks/use-customer.tsx
  apps/web/src/services/api/customer-service.ts
  apps/web/src/services/customer-apis.ts
  apps/web/src/validate/join-form-schema.ts
Labels: ♻️ refactoring, WEB, SERVER

#259 Feature/238 주문서 리팩토링 (리뉴얼)
  apps/server/prisma/schema.prisma
  apps/server/prisma/seed.ts
  apps/server/src/controllers/bread.controller.ts
  apps/server/src/controllers/my.controller.ts
  apps/server/src/controllers/order-round.controller.ts
  apps/server/src/controllers/order.controller.ts
  apps/server/src/docs/swagger.yaml
  apps/server/src/middlewares/validators/validate.ts
  apps/server/src/routes/bread.route.ts
  apps/server/src/routes/my.route.ts
  apps/server/src/routes/order-round.route.ts
  apps/server/src/services/bread.service.ts
  apps/server/src/services/my.service.ts
  apps/server/src/services/order-round.service.ts
  apps/server/src/services/order.service.ts
  apps/web/src/api/Breads.ts
  apps/web/src/api/Customers.ts
  apps/web/src/api/My.ts
  apps/web/src/api/OrderRound.ts
  apps/web/src/api/Orders.ts
  apps/web/src/api/data-contracts.ts
  apps/web/src/components/common/header.tsx
  apps/web/src/components/home/order-round-content.tsx
  apps/web/src/components/mypage/address-create-dialog.tsx
  apps/web/src/components/mypage/address-form.tsx
  apps/web/src/components/mypage/address-modify-dialog.tsx
  apps/web/src/components/mypage/order-address-modify-dialog.tsx
  apps/web/src/components/mypage/order-cancel-dialog.tsx
  apps/web/src/components/order-round/bread-dialog.tsx
  apps/web/src/components/order-round/bread-item.tsx
  apps/web/src/components/order-round/count-button.tsx
  apps/web/src/components/order-round/order-form.tsx
  apps/web/src/components/pages/address-page.tsx
  apps/web/src/components/pages/main-page.tsx
  apps/web/src/components/pages/my-order-detail-page.tsx
  apps/web/src/components/pages/my-order-list-page.tsx
  apps/web/src/components/pages/order-detail-page.tsx
  apps/web/src/components/pages/order-round-detail-page.tsx
  apps/web/src/components/pages/products-page.tsx
  apps/web/src/components/products/bread-card-detail.tsx
  apps/web/src/components/products/products-bread-card.tsx
  apps/web/src/hooks/use-breads.tsx
  apps/web/src/hooks/use-common-code.tsx
  apps/web/src/hooks/use-my.tsx
  apps/web/src/hooks/use-order-round.tsx
  apps/web/src/hooks/use-orders.tsx
  apps/web/src/routes/_sub-page/order-round/$orderRoundNo.tsx
  apps/web/src/services/api/breads-service.ts
  apps/web/src/services/api/common-code-service.ts
  apps/web/src/services/api/my-service.ts
  apps/web/src/services/api/order-round-service.ts
  apps/web/src/services/api/orders-service.ts
  apps/web/src/validate/order-form-schema.ts
  packages/utils/src/format.ts
Labels: ✨ feature, 🔧 fix, ♻️ refactoring, WEB, SERVER

#263 refactor(web) : 쿠폰내역, 요약정보 개선 #260
  apps/server/src/services/my.service.ts
  apps/web/src/components/pages/coupon-page.tsx
  apps/web/src/components/templates/mypage-layout.tsx
Labels: ♻️ refactoring, WEB

#269 Feature/261 주문서, 마이페이지 개선사항 및 버그 픽스
  apps/web/src/components/mypage/order-address-modify-dialog.tsx
  apps/web/src/components/order-round/bread-item.tsx
  apps/web/src/components/order-round/my-address-list-dialog.tsx
  apps/web/src/components/order-round/my-address-list.tsx
  apps/web/src/components/order-round/order-address-form.tsx
  apps/web/src/components/order-round/order-confirm-dialog.tsx
  apps/web/src/components/order-round/order-form.tsx
  apps/web/src/components/pages/my-order-detail-page.tsx
  apps/web/src/components/pages/order-round-detail-page.tsx
  apps/web/src/hooks/use-my.tsx
Labels: ✨ feature, 🔧 fix, WEB

#265 Feature/262 주문차수 최소 최대수량 추가, 주문서에 할인정보 실 데이터로 변경하기 ,할인 및 금액 표기양식변경
  apps/admin/src/api/Breads.ts
  apps/admin/src/api/Coupons.ts
  apps/admin/src/api/Customers.ts
  apps/admin/src/api/My.ts
  apps/admin/src/api/OrderRound.ts
  apps/admin/src/api/Orders.ts
  apps/admin/src/api/data-contracts.ts
  apps/admin/src/components/order-round/order-round-form.tsx
  apps/admin/src/components/orders/order-dialog.tsx
  apps/admin/src/components/orders/order-form.tsx
  apps/admin/src/components/orders/order-table.tsx
  apps/admin/src/hooks/use-order.ts
  apps/admin/src/service/order-api.ts
  apps/server/src/controllers/order.controller.ts
  apps/server/src/docs/swagger.yaml
  apps/server/src/middlewares/validators/validate.ts
  apps/server/src/routes/order.route.ts
  apps/server/src/services/order.service.ts
Labels: ADMIN
